<section class="section">
  <%= form_with model: post, local: true do |f| %>
    <div class="field">
      <div class="control">
        <%= f.datetime_local_field :published_at, class: 'input' %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.text_field :title, class: 'input is-large', placeholder: 'Title' %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <div class="select is-multiple">
          <%= f.collection_select :tag_ids, Blg::Tag.all, :id, :name, { include_hidden: false }, { multiple: true } %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <div class="content">
          <%= f.rich_text_area :content, class: 'textarea', rows: 40, placeholder: 'Content' %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <div class="select">
          <%= f.select :status, Blg::Post.statuses.keys %>
        </div>
      </div>
    </div>

    <div class="control level">
      <div class="level-left">
        <%= f.submit class: 'button is-link' %>
      </div>
      <div class="level-right">
        <%= link_to 'Delete', post_path(post), method: :delete, class: 'button is-danger' if post.persisted? && policy(post).destroy? %>
      </div>
    </div>
  <% end %>
</section>
