<nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <span class="icon is-medium">
        <%= image_tag "https://www.gravatar.com/avatar/11148320361c31b9e19075ccec589408", class: "image is-radius" %>
      </span>
      <span class="is-size-4 has-text-weight-bold">
        <%= ENV.fetch('BLOG_TITLE') %>
      </span>
    <% end %>
    <%# if policy(Post).draft? %>
    <% if false %>
      <div class="navbar-item is-hidden-desktop">
        <%= link_to posts_drafts_path, class: "button" do %>
          <span class="icon">
            <i class="fas fa-th-list"></i>
          </span>
        <% end %>
      </div>
    <% end %>
    <%# if policy(Post).new? && !current_page?(new_post_path) %>
    <% if false %>
      <div class="navbar-item is-hidden-desktop">
        <%= link_to new_post_path, class: "button is-primary" do %>
          <span class="icon">
            <span class="fas fa-plus"></span>
          </span>
        <% end%>
      </div>
    <% end %>
    <%# if logged_in? %>
    <% if false %>
      <div class="navbar-item is-hidden-desktop">
        <%= link_to logout_path, method: :delete, class: "button is-light" do %>
          <span class="icon">
            <span class="fas fa-sign-out-alt"></span>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <%#= link_to "Drafts", posts_drafts_path, class: "navbar-item" if policy(Post).draft? %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%#= link_to "New Post", new_post_path, class: "button is-primary" if policy(Post).new? && !current_page?(new_post_path) %>
          <%#= link_to "Logout", logout_path, method: :delete, class: "button is-light" if logged_in? %>
        </div>
      </div>
    </div>
  </div>
</nav>
